# Default ignored files
/../../whatsappchat /.idea/shelf/
/../../whatsappchat /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../whatsappchat /.idea/httpRequests/
# Datasource local storage ignored files
/../../whatsappchat /.idea/dataSources/
/../../whatsappchat /.idea/dataSources.local.xml
